.common__section {
    background-image: url("../assets/images/tourguidehead.png") ;
    background-size: cover;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

